﻿@model CrystalProjectTracker.Models.Project

@{
    ViewData["Title"] = "Create Project";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        <i class="fa fa-flask"></i>
                        @ViewData["Title"]
                    </h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form asp-action="Create">
                                <input type="hidden" asp-for="created_at" value="@DateTime.Now" />
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <label asp-for="project_name" class="control-label"></label>
                                        <input asp-for="project_name" class="form-control" required />
                                        <span asp-validation-for="project_name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label asp-for="project_status" class="control-label"></label>
                                        <div class="col-lg-12">
                                            <div class="i-checks" style="margin-top:10px;">
                                                <span><input type="radio" name="project_status" value="1" checked> Activate</span>
                                                <span><input type="radio" name="project_status" value="0"> Deactivate</span>
                                            </div>
                                            <span asp-validation-for="project_status" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-12">
                                        <label asp-for="project_description" class="control-label"></label>
                                        <textarea asp-for="project_description" class="form-control" rows="3" id="projectDescriptionTextarea" required></textarea>
                                        <span asp-validation-for="project_description" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-12">
                                        <input type="submit" class="btn btn-primary btn-sm" value="Create Project" />
                                        <a asp-action="Index" class="btn btn-default btn-sm pull-right">
                                            <i class="fa fa-close fa-md text-inverse"></i> Cancel
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>New Project</h2>
                            A project is where you house your files, plan your work, and publish your documentation, among other things.
                            All features are enabled for blank projects, from templates, or when importing, but you can disable them afterward in the project settings.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles
    {
    <link rel="stylesheet" href="~/lib/iCheck/skins/all.css" />
}
@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/lib/iCheck/icheck.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });

        CKEDITOR.replace('projectDescriptionTextarea');
    </script>
}
