﻿@model CrystalProjectTracker.ViewModel.ProjectListViewModel

@{
    ViewData["Title"] = "Project";
}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        <i class="fa fa-flask"></i>
                        @ViewData["Title"]
                        @if (Model.projects.Count() > 0)
                        {
                            <span class="badge badge-success">@Model.projects.Count()</span>
                        }
                    </h5>
                    <div class="ibox-tools" style="margin-top:-30px;">
                        <a asp-action="Create" class="btn btn-primary btn-sm">
                            <i class="fa fa-plus fa-md text-inverse"></i> Add Project
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered dataTables-project tooltip-demo">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Project Name</th>
                                        <th>Status</th>
                                        <th>Progress</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.projects)
                                    {
                                    <tr>
                                        <td><i class="fa fa-slack"></i> @item.project_id</td>
                                        <td>
                                            <strong>@item.project_name</strong>
                                        </td>
                                        <td>
                                            @{
                                                if (item.project_status > 0)
                                                {
                                                    <span class="label label-success label-md">Active</span>
                                                }
                                                else
                                                {
                                                    <span class="label label-default label-md">Unactive</span>
                                                }
                                            }
                                        </td>
                                        <td class="project-completion">
                                            <small>Completion with: 48%</small>
                                            <div class="progress progress-mini">
                                                <div style="width: 48%;" class="progress-bar"></div>
                                            </div>
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.project_id" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" data-original-title="Edit Project Details"><i class='fa fa-pencil'></i> Edit</a>
                                            <a href="Module?project_id=@item.project_id" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" data-original-title="Manage Modules"><i class='fa fa-cubes'></i> Manage Modules</a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/js/dataTables/datatables.min.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/js/dataTables/datatables.min.css" />
    </environment>
}

@section Scripts {
    <environment names="Development">
        <script src="~/js/dataTables/datatables.min.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/dataTables/datatables.min.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.dataTables-project').DataTable({
                pageLength: 10,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'Project Detail' },
                    { extend: 'pdf', title: 'Project Detail' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });
        });
    </script>

}