﻿<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="~/Images/profile_small.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Sandip Chaudhary</strong>
                            </span> <span class="text-muted text-xs block">Admin <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInDown m-t-xs">
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="contacts.html">Contacts</a></li>
                        <li><a href="mailbox.html">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a href="login.html">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    <img alt="image" class="img-circle img-sm" src="~/Images/profile_small.jpg" />
                </div>
            </li>
            <li class="@(Html.IsMenuActive("/Home") ? "active" : "")">
                <a asp-action="Index" asp-controller="Home"><i class="fa fa-dashboard"></i> <span class="nav-label">Dashboard</span> </a>
            </li>
            <li class="@(Html.IsMenuActive("/User") ? "active" : "")">
                <a href="#"><i class="fa fa-users"></i> <span class="nav-label">User</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="@(Html.IsMenuActive("/User/Index") ? "active" : "")"><a asp-action="Index" asp-controller="User"> All Users </a></li>
                    <li class="@(Html.IsMenuActive("/User/Create") ? "active" : "")"><a asp-action="Create" asp-controller="User"> Create Users </a></li>
                </ul>
            </li>
            <li class="@(Html.IsMenuActive("/Project") ? "active" : "")">
                <a href="#"><i class="fa fa-flask"></i> <span class="nav-label">Project</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="@(Html.IsMenuActive("/Project/Index") ? "active" : "")"><a asp-action="Index" asp-controller="Project"> All Projects </a></li>
                    <li class="@(Html.IsMenuActive("/Project/Create") ? "active" : "")"><a asp-action="Create" asp-controller="Project"> Add Project </a></li>
                </ul>
            </li>
            <li class="@(Html.IsMenuActive("/Module") ? "active" : "")">
                <a href="#"><i class="fa fa-cubes"></i> <span class="nav-label">Module</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="@(Html.IsMenuActive("/Module/Index") ? "active" : "")"><a asp-action="Index" asp-controller="Module"> All Module </a></li>
                    <li class="@(Html.IsMenuActive("/Module/Create") ? "active" : "")"><a asp-action="Create" asp-controller="Module"> Add Module </a></li>
                </ul>
            </li>
            <li class="@(Html.IsMenuActive("/Feature") ? "active" : "")">
                <a href="#"><i class="fa fa-star"></i> <span class="nav-label">Features</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="@(Html.IsMenuActive("/Feature/Index") ? "active" : "")"><a asp-action="Index" asp-controller="Feature"> All Feature </a></li>
                    <li class="@(Html.IsMenuActive("/Feature/Create") ? "active" : "")"><a asp-action="Create" asp-controller="Feature"> Add Feature </a></li>
                </ul>
            </li>
            <li class="@(Html.IsMenuActive("/Issue") ? "active" : "")">
                <a href="#"><i class="fa fa-exclamation-circle"></i> <span class="nav-label">Issue Tracker</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="@(Html.IsMenuActive("/Issue/Index") ? "active" : "")"><a asp-action="Index" asp-controller="Issue"> All Issues </a></li>
                    <li class="@(Html.IsMenuActive("/Issue/Create") ? "active" : "")"><a asp-action="Create" asp-controller="Issue"> Create Issue </a></li>
                </ul>
            </li>
            <li class="@(Html.IsMenuActive("/FileManager") ? "active" : "")">
                <a href="/fileManager"><i class="fa fa-folder"></i> <span class="nav-label">File Manager</span></a>
            </li>
            <li class="@(Html.IsMenuActive("/Statistics") ? "active" : "")">
                <a href="/statistics"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Statistics</span></a>
            </li>
            <li class="@(Html.IsMenuActive("/Setting") ? "active" : "")">
                <a href="#"><i class="fa fa-cog"></i> <span class="nav-label">Settings</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/Setting/YearSetup">Year Setup</a></li>
                    <li><a href="/Setting/MonthSetup">Month Setup</a></li>
                    <li><a href="/Setting/WorkingDays">WorkingDays Setup</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>