﻿@model CrystalProjectTracker.Models.Module
@{
    ViewData["Title"] = "Edit Module";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        <i class="fa fa-cubes"></i>
                        @ViewData["Title"]
                    </h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form asp-action="Edit">
                                <input type="hidden" asp-for="module_id" />
                                <input type="hidden" asp-for="created_at" value="@DateTime.Now" />
                                <div class="row">
                                    <div class="form-group col-lg-12">
                                        <label class="control-label">Select Project</label>
                                        @Html.DropDownList("project_id", ViewBag.projects as SelectList, null, new { @class = "form-control chosen-select" })
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label asp-for="module_name" class="control-label"></label>
                                        <input asp-for="module_name" class="form-control" required />
                                        <span asp-validation-for="module_name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label asp-for="module_status" class="control-label"></label>
                                        <div class="col-lg-12">
                                            <div class="i-checks" style="margin-top:10px;">
                                                <span><input type="radio" name="module_status" value="1" checked> Activate</span>
                                                <span><input type="radio" name="module_status" value="0"> Deactivate</span>
                                            </div>
                                            <span asp-validation-for="module_status" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-12">
                                        <label asp-for="module_description" class="control-label"></label>
                                        <textarea asp-for="module_description" class="form-control" rows="3" id="moduleDescriptionTextarea" required></textarea>
                                        <span asp-validation-for="module_description" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-12">
                                        <input type="submit" class="btn btn-primary btn-sm" value="Edit Module" />
                                        <a asp-action="Index" class="btn btn-default btn-sm pull-right">
                                            <i class="fa fa-close fa-md text-inverse"></i> Cancel
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Module Details</h2>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>Module Name : </dt>
                                <dd>@Model.module_name</dd>
                                <dt>Status : </dt>
                                <dd>
                                    @{
                                        if (Model.module_status > 0)
                                        {
                                            <span class="label label-primary label-md">Active</span>
                                        }
                                        else
                                        {
                                            <span class="label label-default label-md">Unactive</span>
                                        }
                                    }
                                </dd>
                                <dt>Progress : </dt>
                                <dd>
                                    <small>Completion with: 76%</small>
                                    <div class="progress progress-mini">
                                        <div style="width: 76%;" class="progress-bar"></div>
                                    </div>
                                </dd>
                                <dt>Module Description : </dt>
                            </dl>
                            <dl>
                                <dd>@Html.Raw(Model.module_description)</dd>
                            </dl>
                        </div>
                        <div class="col-md-12">
                            <hr />
                            <form asp-action="Delete" asp-controller="Module">
                                <input type="hidden" asp-for="module_id" />
                                <button type="submit" class="btn btn-danger btn-sm btn-block" onclick="return confirm('Are you sure want to delete this module ?');">
                                    <i class="fa fa-trash fa-md text-inverse"></i> Delete Module
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles
    {
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/iCheck/skins/all.css" />
        <link rel="stylesheet" href="~/lib/chosen/chosen.min.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/iCheck/skins/all.css" />
        <link rel="stylesheet" href="~/lib/chosen/chosen.min.css" />
    </environment>


}
@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/lib/iCheck/icheck.min.js"></script>
    <script src="~/lib/chosen/chosen.jquery.min.js"></script>


    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });

        CKEDITOR.replace('moduleDescriptionTextarea');

        $('.chosen-select').chosen({ width: "100%" });

    </script>
}
