﻿@model CrystalProjectTracker.ViewModel.ModuleListViewModel

@{
    ViewData["Title"] = "Module";
}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox m-b-md">
                <div class="ibox-content">
                    <div class="row">
                        <form asp-action="Index" asp-controller="Module" method="GET">
                            <div class="form-group col-lg-12">
                                <label class="control-label">Select Project</label>
                                @Html.DropDownList("project_id", ViewBag.projects as SelectList, "All", new { @class = "form-control chosen-select" })
                            </div>
                            <div class="form-group col-lg-12">
                                <input type="submit" class="btn btn-primary btn-sm" value="Filter Module" />
                                <a asp-action="Index" class="btn btn-default btn-sm pull-right">
                                    <i class="fa fa-close fa-md text-inverse"></i> Cancel
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        <i class="fa fa-cubes"></i>
                        @ViewData["Title"]
                        @if (Model.modules.Count() > 0)
                        {
                            <span class="badge badge-success">@Model.modules.Count()</span>
                        }
                    </h5>
                    <div class="ibox-tools" style="margin-top:-30px;">
                        <a asp-action="Create" class="btn btn-primary btn-sm">
                            <i class="fa fa-plus fa-md text-inverse"></i> Add Module
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered dataTables-module tooltip-demo">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Module Name</th>
                                        <th>Project Name</th>
                                        <th>Module Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.modules)
                                    {
                                        <tr>
                                            <td><i class="fa fa-slack"></i> @item.module_id</td>
                                            <td>
                                                <strong>@item.module_name</strong>
                                            </td>
                                            <td>
                                                @item.project.project_name
                                            </td>
                                            <td>
                                                @{
                                                    if (item.module_status > 0)
                                                    {
                                                        <span class="label label-success label-md">Active</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-default label-md">Unactive</span>
                                                    }
                                                }
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.module_id" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" data-original-title="Edit Module Details"><i class='fa fa-pencil'></i> Edit</a>
                                                <a href="Feature/Create/?project_id=@item.project_id&module_id=@item.module_id" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" data-original-title="Manage Features"><i class='fa fa-star'></i> Manage Features</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/js/dataTables/datatables.min.css" />
        <link rel="stylesheet" href="~/lib/chosen/chosen.min.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/js/dataTables/datatables.min.css" />
        <link rel="stylesheet" href="~/lib/chosen/chosen.min.css" />
    </environment>
}

@section Scripts {
    <environment names="Development">
        <script src="~/js/dataTables/datatables.min.js"></script>
        <script src="~/lib/chosen/chosen.jquery.min.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/dataTables/datatables.min.js"></script>
        <script src="~/lib/chosen/chosen.jquery.min.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.dataTables-module').DataTable({
                pageLength: 10,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'Module Detail' },
                    { extend: 'pdf', title: 'Module Detail' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });
            $('.chosen-select').chosen({ width: "100%" });
        });
    </script>

}