﻿@model CrystalProjectTracker.ViewModel.FeatureListViewModel

@{
    ViewData["Title"] = "Feature";
}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox m-b-md">
                <div class="ibox-content">
                    <div class="row">
                        <form asp-action="Index" asp-controller="Feature" method="GET">
                            <div class="form-group col-lg-6">
                                <label class="control-label">Select Project</label>
                                @Html.DropDownList("project_id", ViewBag.projects as SelectList, "Select Project", new { @class = "form-control chosen-select" })
                            </div>
                            <div class="form-group col-lg-6">
                                <label class="control-label">Select Modules</label>
                                @Html.DropDownList("module_id", Enumerable.Empty<SelectListItem>(), new { @Class = "form-control", id = "module_id" })
                            </div>
                            <div class="form-group col-lg-12">
                                <input type="submit" class="btn btn-primary btn-sm" value="Filter Features" />
                                <a asp-action="Index" class="btn btn-default btn-sm pull-right">
                                    <i class="fa fa-close fa-md text-inverse"></i> Cancel
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        <i class="fa fa-star"></i>
                        @ViewData["Title"]
                        @if (Model.features.Count() > 0)
                        {
                            <span class="badge badge-success">@Model.features.Count()</span>
                        }
                    </h5>
                    <div class="ibox-tools" style="margin-top:-30px;">
                        <a asp-action="Create" class="btn btn-primary btn-sm">
                            <i class="fa fa-plus fa-md text-inverse"></i> Add Feature
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered dataTables-feature tooltip-demo">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Feature Name</th>
                                        <th>Module Name</th>
                                        <th>Feature Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.features)
                                    {
                                        <tr>
                                            <td><i class="fa fa-slack"></i> @item.feature_id</td>
                                            <td>
                                                <strong>@item.feature_name</strong>
                                            </td>
                                            <td>
                                                @item.module.module_name
                                            </td>
                                            <td>
                                                @{
                                                    if (item.feature_status > 0)
                                                    {
                                                        <span class="label label-success label-md">Active</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-default label-md">Unactive</span>
                                                    }
                                                }
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.feature_id" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" data-original-title="Edit feature details"><i class='fa fa-pencil'></i> Edit</a>
                                                <a asp-action="Complete" asp-route-id="@item.feature_id" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" data-original-title="Mark feature as completed "><i class='fa fa-check'></i> Complete Feature</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/js/dataTables/datatables.min.css" />
        <link rel="stylesheet" href="~/lib/chosen/chosen.min.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/js/dataTables/datatables.min.css" />
        <link rel="stylesheet" href="~/lib/chosen/chosen.min.css" />
    </environment>
}

@section Scripts {
    <environment names="Development">
        <script src="~/js/dataTables/datatables.min.js"></script>
        <script src="~/lib/chosen/chosen.jquery.min.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/dataTables/datatables.min.js"></script>
        <script src="~/lib/chosen/chosen.jquery.min.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.dataTables-feature').DataTable({
                pageLength: 10,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'Feature Detail' },
                    { extend: 'pdf', title: 'Feature Detail' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });

           var cmbProject = $("#project_id");
			var cmbModule = $("#module_id");
            $(cmbProject).on('change',function () {

                var projectId = cmbProject.val();
				$.ajax({
						url: "@Url.Action("getModulesFromProject")",
					type: "POST",
                    data: "{ 'project_id': " + projectId + " }",
					contentType: "application/json; charset=utf-8",
					dataType: "json",
                    success: function (modules) {
                        $('#module_id > option').remove();
                        cmbModule.chosen('destroy');
                        $.each(modules, function (i, module) {
							$('#module_id').append('<option value=' + module["module_id"] + '>' + module["module_name"] + '</option>');
                        });
                        cmbModule.chosen({ width:"100%"});
                        cmbModule.change();
					},
					error: function () {
						alert("Choose Valid Project");
						console.log("failed to retrieve data.");
					}
				});
			});
            $('.chosen-select').chosen({ width: "100%" });
        });
    </script>

}