﻿@model CrystalProjectTracker.Models.User

@{
    ViewData["Title"] = "Edit Users";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        <i class="fa fa-users"></i>
                        @ViewData["Title"]
                    </h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form asp-action="Create">
                                <input type="hidden" asp-for="user_id" />
                                <input type="hidden" asp-for="created_at" value="@DateTime.Now" />
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <label asp-for="user_name" class="control-label"></label>
                                        <input asp-for="user_name" class="form-control" required />
                                        <span asp-validation-for="user_name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label asp-for="user_password" class="control-label"></label>
                                        <input asp-for="user_password" type="password" class="form-control"  value="@Model.user_password" readonly/>
                                        <span asp-validation-for="user_password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <label asp-for="user_email" class="control-label"></label>
                                        <input asp-for="user_email" type="email" class="form-control" required />
                                        <span asp-validation-for="user_email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label asp-for="user_status" class="control-label"></label>
                                        <div class="col-lg-12">
                                            <div class="i-checks" style="margin-top:10px;">
                                                @{
                                                    if (Model.user_status > 0)
                                                    {
                                                        <span><input type="radio" name="user_status" value="1" checked > Activate</span>
                                                        <span><input type="radio" name="user_status" value="0" > Deactivate</span>
                                                    }
                                                    else
                                                    {
                                                        <span><input type="radio" name="user_status" value="1" > Activate</span>
                                                        <span><input type="radio" aname="user_status" value="0" checked> Deactivate</span>
                                                    }
                                                }
                                            </div>
                                            <span asp-validation-for="user_status" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-12">
                                        <input type="submit" class="btn btn-primary btn-sm" value="Edit User" />
                                        <a asp-action="Index" class="btn btn-default btn-sm pull-right">
                                            <i class="fa fa-close fa-md text-inverse"></i> Cancel
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>User Details</h2>
                            <dl class="dl-horizontal">
                                <dt>Name : </dt>
                                <dd>@Model.user_name</dd>
                                <dt>Email : </dt>
                                <dd><a href="mailto:@Model.user_email">@Model.user_email <i class="fa fa-external-link"></i></a></dd>
                                <dt>Password : </dt>
                                <dd>@Model.user_password</dd>
                                <dt>Status : </dt>
                                <dd>
                                    @{
                                        if (Model.user_status > 0)
                                        {
                                            <span class="label label-primary label-md">Active</span>
                                        }
                                        else
                                        {
                                            <span class="label label-default label-md">Unactive</span>
                                        }
                                   }
                               </dd>
                            </dl>
                            A project is where you house your files, plan your work, and publish your documentation, among other things.
                            All features are enabled for blank projects, from templates, or when importing, but you can disable them afterward in the project settings.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles
    {
    <link rel="stylesheet" href="~/lib/iCheck/skins/all.css" />
}
@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/iCheck/icheck.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
}
